[submodule "extern/bnsh-decoder"]
	path = extern/bnsh-decoder
	url = https://github.com/maierfelix/bnsh-decoder
[submodule "extern/spirv-cross"]
	path = extern/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
